[Desktop Entry]
Encoding=UTF-8
Name=ZeGrapher
Comment=Math graphing software
Comment[fr]=Logiciel de tracé de courbes
Exec=ZeGrapher
Terminal=false
Type=Application
Icon=ZeGrapher
MimeType=x-scheme-handler/ZeGrapher;
Categories=Office;
