[Desktop Entry]
Name=ZeGrapher
Comment=Math plotting software
Comment[fr]=Logiciel de tracé de courbes
Comment[de]=Ein Programm zum Zeichnen von mathematischen Funktionen
Comment[es]=Programa para trazar gráficas matemáticas
Comment[ja]=数学グラフ作成ソフト
Comment[pt]=Programa para traçar gráficos matemáticos
Comment[ru]=Программа для построения математических графиков
Comment[zh]=数学绘图软件
Keywords=graph;plot;curve;function;sequence;parametric;math;
Keywords[es]=gráfica;curva;trazar;función;sucesión;paramétrica;matemáticas;
Keywords[fr]=graphe;courbe;tracé;fonction;suite;paramétrique;maths;
Keywords[ja]=グラフ;曲線;関数;数列;媒介変数;数学;
Keywords[pt]=gráfico;curva;traçar;função;sequência;paramétrica;matemática;
Keywords[ru]=график;кривая;функция;последовательность;параметрическая;математика;
Keywords[zh]=图;绘图;曲线;函数;数列;参数方程;数学;
Exec=ZeGrapher %F
Terminal=false
Type=Application
Icon=ZeGrapher
MimeType=application/x-zegrapher;
Categories=Science;Math;
