[Desktop Entry]
Name=ZeGrapher
Comment=Math plotting software
Comment[fr]=Logiciel de tracé de courbes
Comment[de]=Ein Programm zum Zeichnen von mathematischen Funktionen
Comment[es]=Programa para trazar gráficas matemáticas
Comment[zh]=数学绘图软件
Exec=ZeGrapher %F
Terminal=false
Type=Application
Icon=ZeGrapher
MimeType=application/x-zegrapher;
Categories=Science;
